@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");body{background-color: #eee;font-family: "Poppins", sans-serif;font-weight: 300}.card{border:none}.ellipsis{color: #a09c9c}hr{color: #a09c9c;margin-top: 4px;margin-bottom: 8px}.muted-color{color: #a09c9c;font-size: 13px}.ellipsis i{margin-top: 3px;cursor: pointer}.icons i{font-size: 25px}.icons .fa-heart{color: red}.icons .fa-smile-o{color: yellow;font-size: 29px}.rounded-image{border-radius: 50%!important;display: flex;justify-content: center;align-items: center;height: 50px;width: 50px}.name{font-weight: 600}.comment-text{font-size: 12px}.status small{margin-right: 10px;color: blue}.form-control{border-radius: 26px}.comment-input{position: relative}.fonts{position: absolute;right: 13px;top:8px;color: #a09c9c}.form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    /* background: #fafafa; */
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 50px;
    position: relative;
     padding-left: 5%; 
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    /* background-image: url(img/profile-pic.png); */
    background-size: cover;
}

/*status bar*/

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
 width: 100%; 
    max-width: 2000px;
 display: grid;
     grid-template-columns:3fr 9fr 6fr;
    grid-gap: 30px;  
} 


.left-col{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    /* grid-column-start: 1;
    grid-column-end: 5; */
    /* border: solid 1px; */
} 
.centre-col{

    display: flex;
    flex-direction: column;
    /* grid-column-start: 6;
    grid-column-end: 6; */

}

.right-col{
    display: flex;
    flex-direction: column;  
    
    /* grid-column-start: 10;
    grid-column-end: 20; */
 
}
.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5)
}

/* post */
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
    border-radius: 15px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 0px;

}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
   margin-left: 10px;
 

}

.hamburger{
height: 100%;
width: 50%;
display: flex;
justify-content: end;
align-items: center;
padding: 0px 10px;

}
.info .options{
    height: 10px;
    cursor: pointer;
} 
.info .user{
    display: flex;
    align-items: center;
    width: 50%;

    height: 100%;
 
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}


/* 

@media screen and (max-width: 800px) {
    .wrapper{
        width: 70%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 100% 0%; 
        grid-gap: 30px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #fff;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    .nav-wrapper{
        width: 100%;
        max-width: 1000px;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .post-image{
        width: 100%;
        height: 350px;
        object-fit: cover;

    }
    

    
  } */


  .more-button {
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* added for new details page */
.test{
    height:  80%;
    width: 80%;

    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    display: flex;
      
        align-items: center;
        justify-content: center;
    
    }
    
    .main-detailed {
display: flex;
      /* margin-top: 5%; */
     
        height: 1000px;
        width: 100%;
        align-items: center;
        justify-content: center;
    
    }
    

    .for-detailed{
        display: flex;

            align-items: center;
            justify-content: center;
            height: 800px;
            width: 66%;
   
            flex-direction: column;
        
        }
    
    .inner-things{
    width: 45%;
    height: 100%;
    
    }
    
    .inner-image{
    width: 55%;
    height: 100%;
    /* border-right: solid 1px;  */
    background-color: white;
    margin: 5px;
    
    }
    
    
    .inner-title{
    width: 100%;
    height: 10%;

    
    }
    
    
    .inner-content{
    width: 100%;
    height: 60%;
    border-bottom: solid 1px;
    
    }
    .derr1 {
        position:absolute; 

          z-index: 1000;
        
            /* top: 50%;
            left: 50%; */
            width: 35%;
            height: 35%;
            background-color: transparent;

       
  
       }
        
    
    .inner-placeholder{
    width: 100%;
    height: 30%;
    
    }
    
    .fill img {
    
      height: 100%;
      width: 100%;
    

        
    }
    
    .fill  {
    
    display: flex;
      
        align-items: center;
        justify-content: center;
    }
    
    .header {
    height: 5%;
    width: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-left: solid 1px;

    border-right: solid 1px;
    border-top: solid 1px;
    display: flex;
    justify-content: end;
      align-items:center;
    
      border-color: rgb(201, 201, 201);
    }
    
    .hamburger{
    margin-right: 25px;
    }
    

    
.detailed-card-menu{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.detailed-menu-item{
  display: flex;
justify-content: center;
align-items: center;
border-top: solid 1px;
padding-top: 15px;
flex: 1;
}

.detailed-menu-item-first{
    display: flex;
justify-content: center;
align-items: center;

padding-top: 15px;
flex: 1;


}

.container{

    height: 100%;
}


.card-heading{

    height: 10%;
}


/* for accountpage */

/* Centering container */

.container{display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid 2px;
}

  


  /* Centering account div inside container */
  .account-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    border-radius: 15px;
    background-color: #fff;
    border: solid 1px;
    text-align: justify;

  }

  .heading-div{
position: relative;
bottom: 20%;
    border: solid 1px;

    

  }

  .account-img{
    border-radius: 50%;
    border: solid 1px;
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  .account-infodiv{
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 150px;
    position: relative;
    top: 5%;


  }

  
  .account-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  side-nav-div{

    width: 20%; border: solid 1px;
  }